body {
  /* background-color: black; */
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFWvCbbaU49E6N-_uAb-2RlKQ941iDFcwedQ&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover; */
}

.logohead {
  font-family: 'sample';
  color: white;
  font-size: 40px;
}

@media only screen and (max-width: 1200px) {
  .logohead {
    margin-top: 50px;
    /* text-align: center; */
  }
}

.background {
  background-image: url('https://t3.ftcdn.net/jpg/02/94/56/74/240_F_294567465_DYZmowkf1lBn3lxAvekHT9W5GT18DBSG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}

.hometext {
  margin-top: 80px;
}

.hometext h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

.logoimg {
  width: 200px;
  margin-bottom: 20px;
}

.mnavbar {
  display: flex;
  justify-content: space-between;
}

.logoalign {
  display: flex;
  justify-content: left;
}

.bgnav {
  display: flex;
  align-items: center;
}

.bgcolnav {
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 100px; */
  /* background-color: rebeccapurple; */
}

/* @media only screen and (max-width: 850px) {
  .mnavbar1 {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .bgcolnav {
    width: 100%;
  }
} */
@media only screen and (max-width: 600px) {
  .mnavbar {
    text-align: center;
  }

}







.linkcol {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  margin-left: 50px;

}


.homeimg {
  background-image: url('https://media.istockphoto.com/photos/computer-programmer-working-on-laptop-picture-id1265176772?b=1&k=20&m=1265176772&s=170667a&w=0&h=IHFnvxa3kvVTuZcEfPpCSGIFA_gNT7dIlGDR7eD2cFI=');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

.homeimg>h1 {
  font-size: 60px;
  color: white;
}

.userimg {
  border-radius: 100%;
  width: 80px;
  text-align: center;
}

.sidebar {
  background-color: rgb(45, 47, 48);
  /* opacity: 0.7; */
  text-align: center;
  padding: 10px 5px;
}

.name {
  color: white;
  text-align: left;

}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name>p {
  font-size: 20px;
  font-weight: bolder
}

.divider {
  background-color: red;
}

.styledivider {
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.styledivider>h3 {
  text-align: left !important;
}

.styledivider>h3,
h4 {
  color: white;
}

.experience {
  margin: 20px 5px;
}

.experience>h3,
h5 {
  color: white;
}

.prjdet {
  /* display: flex;
  justify-content: space-between;
  background-color: rgb(45, 47, 48); */
}

.prjdet>h6 {
  color: white;
}

.prjdetxt {
  width: 400px;
  font-size: 20px;
  color: white;
}

.prjdetxt>p {
  text-align: center;
  margin-left: 50px;
}

.txtyellow {
  color: yellow;
  font-size: 30px;
  font-weight: bolder;
}

.myserhead {
  color: white;
}

.box {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
}

.boxtxt>h3 {
  text-align: center;
}

.boxtxt>h3,
p {
  color: white;
}

.boxtxt {
  padding: 20px 10px;
}

.abouthead {
  color: black;
  text-align: left;
  font-size: x-large;
  display: flex;
  justify-content: space-around;
}

.abouttext {
  background-color: cadetblue;
}

.abouthead h5,
p {
  color: white !important;
}

#aboutimg {
  width: 90%;
  margin: 30px;
  margin-top: 70px;
}

.abouthead h5 {
  color: black;
}

.abouthead p {
  color: black;
  font-size: 17px;
}

#aboutus,
#contactus,
#myproj,
#myservices {
  text-align: center;
  color: white;

}

.submitbtn {
  padding-top: 30px;
}

.contactdet {
  display: flex;
  padding: 20px;
}

.contactdet a {
  text-decoration: none;
}

.contactdet p {
  color: black;
}






.boxes {
  width: 400px;
  background-color: cadetblue;
  text-align: center;
  padding-bottom: 20px;


}

.boxes h2 {
  color: white;
}

.boxes a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.gitbtn {
  background-color: red;
}

.gitbtn:hover {
  background-color: red;
}



.icons {
  background-color: silver;
  border-radius: 100%;
  width: 100px;

}

.servicebox {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  padding: 3px;
}

.serbox {
  background-color: cadetblue;
  text-align: center;
  /* margin-top: 20px; */
}

.serbox p,
h2 {
  color: white;
}

.contactmaingrid {
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

/* display: flex;
  justify-content: space-around; */

#message {
  height: 100px;
  width: 400px;
}

.homelogos {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'sample';
  src: url('./assets/fonts/RubikMarkerHatch-Regular.ttf');

}


.contactuscont {

  border: 1px solid black;
  border-radius: 20px;
  margin: 20px 0px;
  background-color: silver;
}

/* #Form Styling */


input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightblue;

  padding: 12px 20px 12px 5px;
  transition: width 0.4s ease-in-out;
}

input[type=email] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightblue;
  padding: 12px 20px 12px 5px;
  transition: width 0.4s ease-in-out;
}

input[type=number] {
  background-color: lightblue;
  font-size: 16px;
  width: 200px;
  border-radius: 4px;
  padding: 12px 20px 12px 5px;
  box-sizing: border-box;
  /* padding: 12px 20px 12px 5px; */
  transition: width 0.4s ease-in-out;

}


input[type=text]:focus {
  width: 100%;
}

input[type=email]:focus {
  width: 100%;
}

input[type=number]:focus {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  input[type=text]:focus {
    width: 50%;
  }

  input[type=email]:focus {
    width: 50%;
  }

  input[type=number]:focus {
    width: 50%;
  }

}

@media only screen and (max-width: 500px) {

  #name,
  #email,
  #phone,
  #message {
    width: 100%;

  }
}



/* Navigation Styling */


.mynavbar {
  width: 120px;
  /* background-color: black; */
  /* text-align: right; */
  width: 80px;
}


#collasible-nav-dropdown,
.linkcolors {
  color: white;
  text-decoration: none;
}



@media only screen and (min-width: 320px) and (max-width: 768px) {
  .mynavbar {
    display: block;
    margin-top: 60px;
  }

}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .bgnav {
    display: none;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
  .bgnav {
    display: flex;
  }

  .mynavbar {
    display: none;
  }

}