body {
  /* background-color: black; */
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFWvCbbaU49E6N-_uAb-2RlKQ941iDFcwedQ&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover; */
}



.background {
  background-image: url('https://t3.ftcdn.net/jpg/02/94/56/74/240_F_294567465_DYZmowkf1lBn3lxAvekHT9W5GT18DBSG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vmax;
  height: 50vmax;
}

.hometext {
  margin-top: 80px;
}

.hometext h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

.logoimg {
  width: 200px;
  margin-bottom: 20px;
}

.bgnav {
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 400px;
  /* flex-wrap: wrap; */
  /* align-items: baseline; */
  /* padding-left: 30%; */

  /* padding-top: 90px; */

}

.mnavbar {
  /* padding-left: 200px; */
  /* text-align: 'center'; */
  display: flex;
  flex-wrap: wrap;
}



.linkcol {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  margin-left: 50px;

}


.homeimg {
  background-image: url('https://media.istockphoto.com/photos/computer-programmer-working-on-laptop-picture-id1265176772?b=1&k=20&m=1265176772&s=170667a&w=0&h=IHFnvxa3kvVTuZcEfPpCSGIFA_gNT7dIlGDR7eD2cFI=');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

.homeimg>h1 {
  font-size: 60px;
  color: white;
}

.userimg {
  border-radius: 100%;
  width: 80px;
  text-align: center;
}

.sidebar {
  background-color: rgb(45, 47, 48);
  /* opacity: 0.7; */
  text-align: center;
  padding: 10px 5px;
}

.name {
  color: white;
  text-align: left;

}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name>p {
  font-size: 20px;
  font-weight: bolder
}

.divider {
  background-color: red;
}

.styledivider {
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.styledivider>h3 {
  text-align: left !important;
}

.styledivider>h3,
h4 {
  color: white;
}

.experience {
  margin: 20px 5px;
}

.experience>h3,
h5 {
  color: white;
}

.prjdet {
  /* display: flex;
  justify-content: space-between;
  background-color: rgb(45, 47, 48); */
}

.prjdet>h6 {
  color: white;
}

.prjdetxt {
  width: 400px;
  font-size: 20px;
  color: white;
}

.prjdetxt>p {
  text-align: center;
  margin-left: 50px;
}

.txtyellow {
  color: yellow;
  font-size: 30px;
  font-weight: bolder;
}

.myserhead {
  color: white;
}

.box {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
}

.boxtxt>h3 {
  text-align: center;
}

.boxtxt>h3,
p {
  color: white;
}

.boxtxt {
  padding: 20px 10px;
}

.abouthead

/* ,.contacthead  */
  {
  color: black;
  text-align: left;
  font-size: x-large;
}


.abouthead {
  display: flex;
  justify-content: space-around;
}

#aboutimg {
  width: 90%;
  margin: 30px;
  margin-top: 70px;
}

.abouthead h5 {
  color: black;
  padding-left: 30px;
}

.abouthead p {
  color: black;
  font-size: 17px;
}

#aboutus,
#contactus,
#myproj,
#myservices {
  text-align: center;

}

.contactdet {
  display: flex;
  text-align: center;
  padding-bottom: 20px;
}

.contactdet a {
  text-decoration: none;
}

.contactdet p {
  color: black;
}






.boxes {
  width: 400px;
  background-color: grey;
  text-align: center;
  padding-bottom: 20px;

}

.boxes h2 {
  color: white;
}

.boxes a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.gitbtn {
  background-color: red;
}

.gitbtn:hover {
  background-color: red;
}



.icons {
  background-color: silver;
  border-radius: 100%;
  width: 100px;

}

.servicebox {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.serbox {
  background-color: white;
  text-align: center;
}

.serbox p {
  color: black;
}

.contactmaingrid {
  padding-left: 5%;
  /* display: flex;
  justify-content: space-around; */
}

#message {
  height: 100px;
  width: 400px;
}

.homelogos {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'sample';
  src: url('./assets/fonts/RubikMarkerHatch-Regular.ttf');

}